<?xml version="1.0" encoding="utf-8"?>
<odoo>
<menuitem  id="taf_oil_main_menu_id"
           name="Taf oil"
           sequence="11"
 />
<menuitem  id="taf_oil_rode_type_menu_id"
           name="Rode Type"
           parent="taf_oil_main_menu_id"
           sequence="1"
           action="rode_type_action_id"
 />\
 <menuitem  id="taf_oil_source_destination_menu_id"
           name="Source Destination"
           parent="taf_oil_main_menu_id"
           sequence="2"
           action="source_destination_action_id"
 />
 <menuitem  id="taf_oil_transport_summery_menu_id"
           name="Transport Summery"
           parent="taf_oil_main_menu_id"
           sequence="3"
           action="transport_summery_action_id"
 />
</odoo>
